* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(
    180deg,
    #1d1e28 0.12%,
    #261c2d 94.84%,
    #261a2d 100%
  );
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-height: 100vh;
  background-image: url(images/bg-stars.svg);
  background-size: cover;
}

.content {
  min-width: 375px;
  padding: 24px;
  max-height: 100vh;
}
h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 6.13636px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 118px;
  padding-bottom: 54px;
  padding-left: 7%;
}
h3 {
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 2.95937px;
  color: #8385a9;
  padding-top: 13px;
}

.boxes {
  display: flex;
  gap: 16px;
}

.countdown .day {
  display: flex;
  flex-direction: column;
  background: #000000;
  height: 66.27px;
  gap: 1px;
  width: 70px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding-bottom: 5px;
  position: relative;
}

.countdown .first,
.countdown .second {
  background: #343650;
  mix-blend-mode: lighten;
  opacity: 0.7;
  border-radius: 4px;
  width: 100%;
  height: 50%;
}

p {
  position: absolute;
  top: -10%;
  left: 19%;
  font-size: 36px;
  line-height: 71px;
  letter-spacing: -1.08px;
  color: #fb5e84;
}

.hills img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: 25%;
}

footer {
  position: absolute;
  bottom: 32px;
  top: 90%;
  left: 30%;
  z-index: 999;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li {
  margin: 0 16px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 7.5px;
  }
  h3 {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 5.91875px;
  }

  p {
    font-size: 80px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -2.4px;
    top: 15%;
  }
  .boxes {
    display: flex;
    gap: 37px;
  }
  .countdown .day {
    height: 124.02173614501953px;
    width: 148px;
  }
  .hills img {
    width: 100%;
  }

  footer {
    left: 45%;
  }
}
